@use '@carbon/react/scss/type' as *;

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.clickable-tile {
    .clickable-tile__heading {
        @include type-style('productive-heading-03');
    }

    .clickable-tile__body {
        margin-top: $spacing-06;
        flex-grow: 1; // fill space so icons are bottom aligned
        @include type-style('body-long-01');

        // prevent large line lengths between small and medium viewports
        @include breakpoint-between(321px, md) {
            max-width: 75%;
        }
    }
}