@use '@carbon/react/scss/type' as *;

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.clickable-tile {
    .clickable-tile__heading {
        @include type-style('productive-heading-03');
    }

    .clickable-tile__body {
        margin-top: $spacing-06;
        flex-grow: 1; // fill space so icons are bottom aligned
        @include type-style('body-long-01');

        // prevent large line lengths between small and medium viewports
        @include breakpoint-between(321px, md) {
            max-width: 75%;
        }
    }
}

.project-card {
    .user-profile-image {
        height: 2.188rem;
        width: 2.188rem;
        border-radius: 50%;
        
        &:has(svg) {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f4f4f4;
        }
    
        &:has(img) {
            border: 2px solid #fff;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}